@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}

.input {
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid rgb(229 231 235);
  padding: 0.5rem 0.75rem;
  outline: none;
}

.input:focus {
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}